snippet gs
	public function get${1:Foo}()
	{
		return $this->${2:foo};
	}
	
	public function set$1($$2)
	{
		$this->$2 = $$2;
	}
snippet f
	public function ${1}(${2})
	{${3}
	}
snippet pf
	private function ${1}(${2})
	{${3}
	}
